/* body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.logo {
  width: 80px;
  height: auto;
  margin-left: 10px;
}

/* Navigation styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1d2123;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav .logo {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Content styles */
#content {
  margin: 50px;
  padding: 60px;
  text-align: justify;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 140px;
  position: relative; /* Necesario para posicionar el ::before relativo a #content */
  overflow: hidden; /* Evita que el ::before se desborde del contenedor */
}

#content::before {
  content: "Archivo Markdown";
  color: #777;
  position: absolute;
  top: 0px; /* Ajusta esto según sea necesario para la posición deseada */
  left: 10px; /* Ajusta esto según sea necesario para la posición deseada */
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el texto */
  z-index: 1; /* Asegura que esté por encima del contenido */
}

#content:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5); /* Cambia la sombra al pasar el cursor sobre #content */
}

/* style footer */
.footer {
  background-color: #f8f8f8;
  padding: 30px 60px 10px 60px;
  margin-bottom: 30px;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #777;
  margin: 0;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-social li {
  margin-left: 10px;
}

.footer-social a {
  color: #777;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #333;
}

/* styles button scroll */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
  opacity: 1;
}
